html { 
  font-family: Baskerville, "Baskerville Old Face";
  font-weight: 400;
  font-size: medium;
  font-style: normal;
}

body {
    background-image: url('../assets/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.header {
  content: '   ';
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: None;
  text-align: center;
  background-image: url('../assets/openai.jpg');
  background-size: 100% 100%;
}

.text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -500px;
  width: 1000px;
  height: 100px;
}

.text:before {
  content : "";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height  : 150px;
  width   : 150px;
  border-bottom: 5px solid darkgrey;
  border-top: 5px solid darkgrey;
}

.header .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: darkgrey;
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  top: -25px;
  left: 120%;
}

.header:hover .tooltiptext {
  visibility: visible;
}

.footer {
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.openai {
  left: 0;
  position: fixed;
  bottom: 5px;
}

a {
  text-decoration: none;
  outline: none;
}

i:hover {
  color: #AEC6CF;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

i {
  margin-right: 10px;
  color: rgb(125, 85, 165);
  text-decoration: none;
  outline: none;
}

