html { 
  font-family: Baskerville, "Baskerville Old Face";
  font-weight: 400;
  font-style: normal;
}

body {
    background-image: url('../assets/background.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.text {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  border: 5px darkgrey;
  border-style: solid none;
}

.footer {
  left: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f1f1f1;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

a {
  text-decoration: none;
  outline: none;
}

i:hover {
  color: #AEC6CF;
  transition: 0.4s;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

i {
  margin-right: 10px;
  color: rgb(125, 85, 165);
  text-decoration: none;
  outline: none;
}

